{% extends "base.html" %} {% block title %}System Metadata{% endblock %} {%
block content %}
<div class="h-100 d-flex align-items-center">
  <main class="m-100 m-auto" style="max-width: 500px">
    <form action="/api/v0/functions/system_metadata" method="GET">
      <legend class="text-center">Get system metadata</legend>
      <p>Get administrator's current system metadata</p>

      <button class="btn btn-primary w-100 py-2 mt-3" type="submit">
        Submit
      </button>
    </form>
  </main>
</div>
{% endblock %}
